.dashboard-container{margin-top:2em;margin-bottom:1em;}
.beta{color:#d43f3a;}
.go-to-new-order{margin-right: 1em;}
.fast-actions li {list-style: none;margin:0;}
.fast-action-button{width:100%; margin-top:0.3em;}